.form {
   display: flex;
   flex-direction: column;
   row-gap: 0.8rem;
   
}
.input-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    
    .input-item {
        font-size: 1rem;
        padding: 0.4rem 0.7rem;        
        flex: 1 1 auto;
    }
    .input-submit-item {0
        padding: 0.4rem;                
        cursor: pointer;
    }
   
}

.login-form {
    margin: auto;
    margin-top: 2rem;
    width: 35%;
    padding: 1.4rem;
    border: 1px solid blue;
    border-radius: 10px;
}